
body {
    padding: 50px;
    background: linear-gradient(0deg, rgba(34,193,195,1)0%, rgba(253,187,45,1)100%);
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    overflow: inherit;
}

#page-container{
    position:relative;
    min-height:100vh;
}
#content-wrap {
    padding-bottom:2.5rem;
   
}
#footer {
    position: relative;
    bottom: 0 !important;
    width: 100%;
    color:white !important;
}
.textbox-input {
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 11px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.raincard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: 40%;
    border-radius: 5px;
    background-image: url(https://pngimg.com/uploads/rain/rain_PNG13470.png);
    animation: rain 1.3s linear infinite;
}

.suncard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: 40%;
    border-radius: 5px;
    background-image: url(https://pngimg.com/uploads/sun/sun_PNG13422.png);
    background-repeat: no-repeat;
    animation: sun 1.3s infinite;
    animation-iteration-count: infinite;
}
.cloudcard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: 40%;
    border-radius: 5px;
    background-image: url(https://pngimg.com/uploads/cloud/cloud_PNG2.png);
    background-repeat: no-repeat;
    animation: cloud 5.5s infinite;
}
.thundercard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: 40%;
    background: url(https://pngimg.com/uploads/thunder/thunder_PNG4.png);
    animation: thunder .8s infinite;
    background-repeat: no-repeat;
    border-radius: 5px;
}

    .container {
    padding: 2px 16px;
    
}

@keyframes rain {
    0% {
        background-position: 0% 0%;
        
    }

    100%{
        background-position: 20% -300%
    }
}

@keyframes sun {

    0% {
        background-size: 100%;
    }

    50% {
        background-size: 50%;
    }

    100% {
        background-size: 100%;
    }
}

@keyframes cloud {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 200% 20%;
    }
}
@keyframes thunder {
     0%{ 
         background-image:none;
     }
    100% {
        background-image: url(https://pngimg.com/uploads/thunder/thunder_PNG4.png);
    }
}

/*Booking Page*/



.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    font-family: Arial,Helvetica,sans-serif;
}

.mySlides {
    display: none;
}

img {
    display: block;
    border: 0;
    width: 100%;
    height: 300px;
}

/* Slideshow container */
.slideshow-container {
    border: 2px solid #e7e7e7;
    background-color: #ffffff;
    border-radius: 4px;
    padding: .5rem;
    text-align: center;
  
}
.buttonbook {
    background-color: #36A9AE;
    background-image: linear-gradient(#37ADB2, #329CA0);
    border: 1px solid #2A8387;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 17px;
    line-height: 100%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
}

    .buttonbook:hover {
        box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
        text-decoration: none;
        transition-duration: .15s, .15s;
    }

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}