
body {
    padding: 50px;
    background: linear-gradient(0deg, rgba(34,193,195,1)0%, rgba(253,187,45,1)100%);
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    overflow: inherit;
}

#page-container{
    position:relative;
    min-height:100vh;
}
#content-wrap {
    padding-bottom:2.5rem;
   
}
#footer {
    position: relative;
    bottom: 0 !important;
    width: 100%;
    height: 4.5rem !important;
    background-color: black !important;
    color:white !important;
}

.raincard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: 40%;
    border-radius: 5px;
    background-image: url(https://pngimg.com/uploads/rain/rain_PNG13470.png);  
    animation: rain 1.3s linear infinite;
}

.suncard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: 40%;
    border-radius: 5px;
    background-image: url(https://pngimg.com/uploads/sun/sun_PNG13422.png);
    background-repeat: no-repeat;
    animation: sun 1.3s infinite;
    animation-iteration-count: infinite;
}
.cloudcard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: 40%;
    border-radius: 5px;
    background-image: url(https://pngimg.com/uploads/cloud/cloud_PNG2.png);
    background-repeat: no-repeat;
    animation: cloud 5.5s infinite;
}
.thundercard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: 40%;
    background: url(https://pngimg.com/uploads/thunder/thunder_PNG4.png);
    animation: thunder .8s infinite;
    background-repeat: no-repeat;
    border-radius: 5px;
}

    .container {
    padding: 2px 16px;
    
}

@keyframes rain {
    0% {
        background-position: 0% 0%;
        
    }

    100%{
        background-position: 20% -300%
    }
}

@keyframes sun {

    0% {
        background-size: 100%;
    }

    50% {
        background-size: 50%;
    }

    100% {
        background-size: 100%;
    }
}

@keyframes cloud {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 200% 20%;
    }
}
@keyframes thunder {
     0%{ 
         background-image:none;
     }
    100% {
        background-image: url(https://pngimg.com/uploads/thunder/thunder_PNG4.png)
    }
}

/*Booking Page*/



.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.mySlides {
    display: none;
}

img {
    display: block;
    border: 0;
    width: 100%;
    height: 300px;
}

/* Slideshow container */
.slideshow-container {
    border: 2px solid #e7e7e7;
    background-color: #ffffff;
    border-radius: 4px;
    padding: .5rem;
    text-align: center;
}



@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}