
@{
    ViewBag.Title = "WeatherResponse";
}

        <div class="jumbotron">
            <h1>Paddleboard Everyday</h1>
                 <p>Somedays are better than others for paddleboarding
                     <br>so let our weather checker decide for you!</p>
        </div>
        
        <h2>Should I Paddleboard today?</h2>
        <form action="GetWeather" method="get" id="ToGoOrNotTo">
            <input type="text" name="city">
            <button>Get Answer</button>          

            <label>Current Forecast: </label>@ViewBag.Desc
        </form>
      
            @if (ViewBag.Temp > 20)
            { 
                <div class="suncard">
                    <div class="container">
                        <p>Temperature: @ViewBag.Temp</p>
                        <p>you should go</p>
                    </div>
                </div>
               
            }
            else if (ViewBag.Temp < 20)
            {
                 <div class="card">
                     <div class="container">
                         <p>Temperature: @ViewBag.Temp</p>
                 </div>
                     </div>
            }

    
    
 
 
    
            












    <!--<script>
        $(document).ready(function () {
            $("button").click(function () {
                $.get("@Url.Action("GetWeather", "Home")"), function (response) {
                    $("#city").text(response.name);
                    $("#temp").text(response.main.temp);
                });
        });

    </script> -->
